
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3a0253;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

section {
    padding: 20px;
}

h2 {
    color: #6c1ba1;
    font-size: 28px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

p {
    line-height: 1.6;
}

.step {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step h3 {
    color: #333;
    font-size: 24px;
}

footer {
    background-color: #181068;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.benefits {
    background-color: #d1b8db;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.benefits ul {
    list-style-type: square;
    padding-left: 20px;
}

.benefits ul li {
    margin-bottom: 10px;
}
